{
  "key_alias": "nemesisbot",
  "key_password": "",
  "store_password": "",
  "validity_years": 25,
  "dname": {
    "CN": "NemesisBot",
    "OU": "Rel",
    "O": "NemesisBot",
    "L": "",
    "ST": "",
    "C": "CN"
  },
  "output_dir": "../../bin/bin_android_apk",
  "output_name": "nemesisbot-arm64-release.apk"
}
